* {
    margin: 0px;
    padding: 0px;
    font-family: "Silkscreen", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9BD5C1;
    background-image: url('Web-Bg-Anchor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position-y: bottom;
}

#home-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-window {
    width: 500px;
    height: 3px;
    padding: 10px 35px 30px 20px;
    background-color: #2B8D91;
    color: #E7EAD8;
}

#window-aboutheader {
    width: 500px;
    height: 3px;
    padding: 10px 20px 30px 20px;
    cursor: move;
    z-index: 10;
    background-color: #2B8D91;
    color: #E7EAD8;
    display: flex;
    justify-content: space-between;
}

#window-workheader{
    width: 550px;
    height: 3px;
    padding: 10px 20px 30px 20px;
    cursor: move;
    z-index: 10;
    background-color: #2B8D91;
    color: #E7EAD8;
    display: flex;
    justify-content: space-between;
}

#window-linksheader{
    width: 350px;
    height: 3px;
    padding: 10px 20px 30px 20px;
    cursor: move;
    z-index: 10;
    background-color: #2B8D91;
    color: #E7EAD8;
    display: flex;
    justify-content: space-between;
}

#main-window{
    width: 500px;
    height: 280px;
    padding: 50px 35px 0px 20px;
    background-color: #E7EAD8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#main-window-about{
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #E7EAD8;
    display: flex;
    gap: 35px;
}
#window-about{
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#main-window-work{
    width: 550px;
    height: 300px;
    padding: 20px;
    background-color: #E7EAD8;
    line-height: 1.8;
    overflow: auto;
}
#window-work{
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#main-window-links{
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: #E7EAD8;
    line-height: 1.8;
    display: grid;
    place-content: center;
    place-items: center;
}
#window-links{
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#right-side{
    flex-direction: column;
    display: flex;
}

.button {
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform .3s;
}
.button:hover{
    transform: scale(1.1);
}

.links{
    background: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: transform .3s;
    grid-row: 1;
    grid-column: 1;
}
.links:hover{
    transform: scale(1.1);
}

#Home-Buttons{
    padding: 70px 0 30px 0;
    display: flex;
    justify-content: center;
}

#Home-Buttons div {
  margin-left: 5px;
  margin-right: 5px;
}

h3, .h3 {
  font-size: 35px;
  font-weight: normal;
}
h5, .h5 {
  font-size: 15px;
  font-weight: normal;
}

h6, .h6 {
  font-size: 13.5px;
  font-weight: normal;
}
ul{
    font-size: 13.5px;
    font-weight: normal;
}

#teal{
    color: #12afa2;
    display: inline-flex;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#itch-1 {
    width: 260px; 
    word-wrap: break-word;
    text-align: center;
}

#itch-image{
    transition: transform .3s;
}

#itch-image:hover{
    transform: scale(1.1);
}

#img_container{
    width: 170px;
    height: 170px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    overflow: hidden;
  }

#top-window {
    width: 300px;
    height: 3px;
    padding: 10px 35px 30px 20px;
    background-color: #2B8D91;
    color: #E7EAD8;
}

#main-window{
    width: 300px;
    height: 250px;
    padding: 20px 35px 0px 20px;
    background-color: #E7EAD8;
}

.button {
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform .3s;
}

#Home-Buttons{
    padding: 38px 0 30px 0;
    display: flex;
    justify-content: center;
}

h3, .h3 {
  font-size: 31px;
  font-weight: normal;
}

#window-about,
#window-work,
#window-links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: none;
    box-shadow: 0px -4px 10px rgba(0,0,0,0.2);
    animation:ease-in 3s ;
}
#main-window-about,
#main-window-work,
#main-window-links{
    height: 97%;
    overflow-y: auto;
    padding: 15px;
    width: 93%;
}

#window-aboutheader,
#window-workheader,
#window-linksheader {
    width: 93%;
    height: auto;
    padding: 10px 15px;
    background-color: #2B8D91;
    color: #E7EAD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

}
